footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 50;
  gap: 5px;
  width: 100%;
  font-size: 14px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  border-radius: 10px;
  width: 40px;
  height: 50px;
  font-weight: bold;
}

.back-space-icon svg {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wide {
  width: 70px;
}
